.maintenance-mode {
  position: fixed;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  left: 0px;
  top: 0px;
  text-align: center;
}
.progress {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -128px;
  margin-left: -128px;
}
.tweet > div {
  padding: 10px;
}
.tweet {
  margin: 10px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: #051931;
}
.tweet--profile-link {
  font-weight: bold;
  color: #051931;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  display: inline-block;
}
.tweet--profile-image {
  border-radius: 100%;
  margin-right: 6px;
  position: relative;
  top: 8px;
  height: 48px;
}
.tweet--timestamp {
  font-size: 14px;
  font-style: italic;
  margin-top: 10px;
  text-align: right;
  width: 100%;
  display: inline-block;
}
.tweet--stats {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}
.tweet--favorites {
  margin-right: 20px;
}
.tweet--favorites svg {
  color: #e7a33a !important;
  position: relative;
  top: 6px;
}
.tweet--retweets svg {
  color: #e7a33a !important;
  position: relative;
  top: 6px;
}
.tweet--media__photo {
  max-width: 100%;
  margin-top: 10px;
}

.fade-in-enter {
  opacity: 0.01;
}

.fade-in-enter.fade-in-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-in-leave {
  opacity: 1;
}

.fade-in-leave.fade-in-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}