.maintenance-mode {
  position: fixed;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  left: 0px;
  top: 0px;
  text-align: center;
}
.progress {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -128px;
  margin-left: -128px;
}