.tweet {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
.tweet > div {
  padding: 10px;
}
.tweet--text {
  word-break: break-word;
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #051931;
  text-decoration: none;
  display: block;
}
.tweet--profile-link {
  font-weight: bold;
  color: #051931;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
  text-decoration: none;
  display: inline-block;
}
.tweet--profile-image {
  border-radius: 100%;
  margin-right: 6px;
  position: relative;
  top: 8px;
  height: 48px;
}
.tweet--timestamp {
  font-size: 14px;
  font-style: italic;
  margin-top: 10px;
  text-align: right;
  width: 100%;
  display: inline-block;
}
.tweet--stats {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}
.tweet--favorites {
  margin-right: 20px;
}
.tweet--favorites svg {
  color: #e7a33a !important;
  position: relative;
  top: 6px;
}
.tweet--retweets svg {
  color: #e7a33a !important;
  position: relative;
  top: 6px;
}
.tweet--media__photo {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 250px;
  margin-top: 10px;
  border-radius: 6px;
  background-size: cover !important;
  background-position: center !important;
}
.tweet--media__photo:hover {
  cursor: pointer;
}
.tweet--media__photo span {
  transition: all 0.25s ease-in-out;
  border-radius: 6px;
  text-align: center;
  display: none;
}
.tweet--media__photo span svg {
  fill: #FFF !important;
  width: 100px !important;
  height: 100px !important;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
}
.tweet--media__photo:hover span {
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

@media only screen and (min-width : 768px) {
  .tweet {
    width: 33.3%;
  }
}