.tweet {
  width: 100%;
  padding: 10px;
}
.tweet > div {
  padding: 10px;
}
.tweet--card {
  width: 100%;
  border: 1px solid #e1e8ed;
  border-radius: 4px;
  padding: 20px 20px 11.6px 20px;
}
.tweet--first .tweet--text,
.tweet--second .tweet--text,
.tweet--third .tweet--text {
  font-size: 18px;
  line-height: 24px;
}
.tweet--text {
  word-break: break-word;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #1c2022;
  text-decoration: none;
  display: block;
}
.tweet--profile-link {
  text-decoration: none;
}
.tweet--names__name {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #1c2022;
}
.tweet--names__screen-name {
  font-weight: 300;
  color: #697882;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
  display: inline-block;
}
.tweet--profile-image {
  border-radius: 100%;
  margin-right: 6px;
  height: 48px;
  display: flex;
}
.tweet--names {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.tweet--timestamp {
  font-size: 12px;
  font-weight: 300;
  opacity: 0.5;
  margin-top: 10px;
  width: 100%;
  display: inline-block;
  font-family: 'Roboto';
}
.tweet--stats {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto';
}
.tweet--favorites {
  margin-right: 20px;
}
.tweet--favorites svg {
  color: #e7a33a !important;
  position: relative;
  top: 6px;
}
.tweet--retweets svg {
  color: #e7a33a !important;
  position: relative;
  top: 6px;
}
.tweet--media__photo {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 250px;
  margin-top: 10px;
  border-radius: 6px;
  background-size: cover !important;
  background-position: center !important;
}
.tweet--media__photo:hover {
  cursor: pointer;
}
.tweet--media__photo span {
  transition: all 0.25s ease-in-out;
  border-radius: 6px;
  text-align: center;
  display: none;
}
.tweet--media__photo span svg {
  fill: #FFF !important;
  width: 100px !important;
  height: 100px !important;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
}
.tweet--media__photo:hover span {
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

@media only screen and (min-width : 768px) {
  .tweet {
    width: 33.3%;
  }
}